<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Place">
	<resultMap type="Place" id="PlaceMap">
		<result property="placeID" column="placeID" />
		<result property="placeName" column="placeName" />
	</resultMap>
	<select id="idCheck" resultType="String">
		SELECT count(*) FROM USER
		WHERE userID = #{userID}
	</select>

</mapper>
